window { 

    background-color : white;

}

button {
    
    border-color : white;
    color : black;
    font-style : italic;
}

.text-button {

  border-radius: 50%;
  border-color : black;
  background-color: red;
}

label {

    color: black;
}

entry {

    color : black;
    border-color : blue;
}